{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="image"><img src="{{project.image.cdn_url}}" alt="project-image"></div>
        </div>
        <div class="col-md-8">
            <div class="project-details">
                    <h2>{{project.title}}</h2>
                    <h3>Rate:</h3>
                    <h1>Design</h1>
                    <form  method="post">
                    <fieldset class="rating">
                        <input class="radio" type="radio" id="star10" name="rating" value="10"/><label class = "full" for="star10" title="Awesome - 10 stars"></label>
                        <input class="radio" type="radio" id="star9" name="rating" value="9" /><label class="full" for="star9" title="Pretty good - 9 stars"></label>
                        <input class="radio" type="radio" id="star8" name="rating" value="8" /><label class = "full" for="star8" title="Pretty good - 8 stars"></label>
                        <input class="radio" type="radio" id="star7" name="rating" value="7" /><label class="full" for="star7" title="Meh - 7 stars"></label>
                        <input class="radio" type="radio" id="star6" name="rating" value="6" /><label class = "full" for="star6" title="Meh - 6 stars"></label>
                        <input class="radio" type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Kinda bad - 5 stars"></label>
                        <input class="radio" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Kinda bad - 4 stars"></label>
                        <input class="radio" type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                        <input class="radio" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Sucks big time - 2 star"></label>
                        <input class="radio" type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 stars"></label>
                    </fieldset>
                    <input type="submit" value="Rate" id="submit">
                    </form>
                    <!-- ...................................... -->
                    <h1>Usability</h1>
                    <form  method="post">
                        <fieldset class="rating">
                            <input class="radio" type="radio" id="star10" name="rating" value="10"/><label class = "full" for="star10" title="Awesome - 10 stars"></label>
                            <input class="radio" type="radio" id="star9" name="rating" value="9" /><label class="full" for="star9" title="Pretty good - 9 stars"></label>
                            <input class="radio" type="radio" id="star8" name="rating" value="8" /><label class = "full" for="star8" title="Pretty good - 8 stars"></label>
                            <input class="radio" type="radio" id="star7" name="rating" value="7" /><label class="full" for="star7" title="Meh - 7 stars"></label>
                            <input class="radio" type="radio" id="star6" name="rating" value="6" /><label class = "full" for="star6" title="Meh - 6 stars"></label>
                            <input class="radio" type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Kinda bad - 5 stars"></label>
                            <input class="radio" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Kinda bad - 4 stars"></label>
                            <input class="radio" type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input class="radio" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Sucks big time - 2 star"></label>
                            <input class="radio" type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 stars"></label>
                        </fieldset>
                        <input type="submit" value="Rate" id="submit">
                    </form>
                    <!-- ............................................. -->
                    <h1>Content</h1>
                    <form  method="post">
                        <fieldset class="rating">
                            <input class="radio" type="radio" id="star10" name="rating" value="10"/><label class = "full" for="star10" title="Awesome - 10 stars"></label>
                            <input class="radio" type="radio" id="star9" name="rating" value="9" /><label class="full" for="star9" title="Pretty good - 9 stars"></label>
                            <input class="radio" type="radio" id="star8" name="rating" value="8" /><label class = "full" for="star8" title="Pretty good - 8 stars"></label>
                            <input class="radio" type="radio" id="star7" name="rating" value="7" /><label class="full" for="star7" title="Meh - 7 stars"></label>
                            <input class="radio" type="radio" id="star6" name="rating" value="6" /><label class = "full" for="star6" title="Meh - 6 stars"></label>
                            <input class="radio" type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Kinda bad - 5 stars"></label>
                            <input class="radio" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Kinda bad - 4 stars"></label>
                            <input class="radio" type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input class="radio" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Sucks big time - 2 star"></label>
                            <input class="radio" type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 stars"></label>
                        </fieldset>
                        <input type="submit" value="Rate" id="submit">
                    </form>
            </div>
        </div>        
    </div>
</div>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/project.js'%}"></script>
{% endblock %}