{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="image"><img src="{{project.image.cdn_url}}" alt="project-image"></div>
        </div>
        <div class="col-md-8">
            <h1>{{project.title}}</h1>
            <p>Average Rate: {{average|floatformat}}/10</p>

            <div class="rate-form">
                <form action="{% url 'project' project.id %}" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Rate"/>
                </form>
            </div>
            <div class="rates">
                {% for rate in all_rates  %}
                    <p><span>design:</span>{{rate.design}} <span>usability:</span>{{rate.usability}} <span>content:</span>{{rate.content}}
                        -- by {{rate.user.username}}</p>
                {% endfor %}
            </div>
           
        </div>         
    </div>
</div>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/project.js'%}"></script>
{% endblock %}